.container {
    min-height: 650px;
    width: 100%;
}

.wrapper {
    overflow: hidden;
    border-radius: 12px;
    padding-bottom: 1rem;
    height: 100%;
    background-color: #ece7e7;
    width: 90%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
}

.topLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profileMetadata {
    display: flex;
    flex-direction: column;
}

.profileMetadata>span:first-child {
    font-size: 18px;
    font-weight: 500;
}

.profileMetadata>span:last-child {
    font-size: 15px;
    color: #555;
}

.profileUserImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.center {
    height: fit-content;
    width: 100%;
}

.center>.desc {
    font-size: 18px;
    color: #333;
    padding: 1rem;
}

.center>.postImg {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 25px;
    border-bottom: 1px solid #333;
}

.controlsLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding: 1.5rem 0.75rem;
    border-bottom: 1px solid #555;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.commentData {
    display: flex;
    flex-direction: column;
}

.commentData>span:first-child {
    font-weight: 500;
}

.commentTimeago {
    font-size: 15px;
    color: #666;
}

.commentText {
    margin-left: 0.5rem;
    align-self: flex-start;
    font-size: 18px;
    color: #222;
}

.commentImg {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.commentRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25em;
}

.postCommentSection {
    width: 95%;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.inputSection {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    width: 90%;
    padding-left: 0.5rem;
    transition: 150ms all;
}

.inputSection:focus {
    padding-left: 1rem;
}

.postCommentSection>button {
    border: none;
    outline: none;
    font-size: 18px;
    color: #285ad8;
    background-color: transparent;
    cursor: pointer;
    transition: 150ms all ease-in-out;
}

.postCommentSection>button:hover {
    color: #2828ba;
}